.login_page_div{
    height: 100%;
    width: 100%;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: absolute;
    overflow-y: scroll;
    
}

#login_side_image{
    height: 100%;
    width: 350px;
    border-radius: 20px;
}

.MainLoginBox{
    height: 80%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_form_container{
    height: 100%;
    display: inline-block;
    margin-left: 10px;
}

.LoginDiv{
    width: 350px;
    height: 100%;
    border: 1px solid rgb(197, 196, 196);
    display: inline-block;
}

#IgLogo{
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.LoginDiv input{
    height: 35px;
    width: 80%;
    padding-left: 5px;
    margin-bottom: 5px;
    border: 1px solid  rgb(197, 196, 196);
    border-radius: 5px;
    background-color: rgb(247, 245, 245);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.LoginBtn{
    height: 35px;
    width: 80%;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(92, 196, 231);
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.or{
    text-align: center;
    color: gray;
    font-weight: bold;
    font-size: 12px;
}

#error_text{
    color: red;
    text-align: center;
    margin: auto;
    font-size: 14px;
    font-weight: 400;
    justify-content: center;
}

.FacebookLink{
    color: rgb(98, 98, 226);
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    margin-top: 30px;
}

.ForgotPassLink{
    color: rgb(98, 98, 226);
    text-align: center;
    display: block;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.SignupBox{
    padding: 7px;
    margin-top: 10px;
    border: 1px solid rgb(197, 196, 196);
}

.SignupBox p{
    text-align: center;
    color: gray;
    font-size: 14px;
}

.gotoSignup{
    color:  rgb(92, 196, 231);
    font-weight: bold;
    text-decoration: none;
}

.stores{
    align-items: center;
}
.stores{
    display: flex;
    align-items: center;
    margin: auto;
}

/* side image */

.mainComponent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: auto;
    line-height: 100%;
}

.sideImg{
    height: 100%;
    width: 370px;
    display: block;
    float: left;
    margin-right: 40px;

}

.Img{
    height: 600px;
    width: 100%;
    display: block;
 
}


@media screen and (max-width: 600px){
    #login_side_image{
        display: none;
    }
}