    /* profile change profile photo popup */

    div .profile_popup_container{
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 50;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .profile_inner_popup_box{
        width: 500px;
        height: 300px;
        background-color: black;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .profile_photo_options_box{
        width: 100%;
        height: 100%;
        display: inline-block;
        text-align: center;
        align-items: center;
    
    }

    .profile_photo_options_box h3{
        color: white;
        padding: 20px 0;
        font-size: 22px;
        font-weight: 400;
    }

    #upload_prof_input{
        display: none;
    }

    .upload_profile_pic_btn{
        height: 60px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-top: 1px solid rgba(128, 128, 128, 0.5);    }

    .profile_file_btn{
        font-size: 16px;
        font-weight: 600;
        color: rgb(0, 89, 255);
        width: 100%;
    }
    
    #remove_profile_pic_btn{
        height: 60px;
        width: 100%;
        font-size: 16px;
        font-weight: 500;
        color: red;
        background: none;
        border: none;
        border-top: 1px solid rgba(128, 128, 128, 0.5);
    }

    #profile_popup_cancel_btn{
        height: 60px;
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        color: white;
        background: none;
        border: none;
        border-top: 1px solid rgba(128, 128, 128, 0.5);

    }