.homeDiv{
    height: 100vh;
}

#nav{
    transition: 0.7s;
    float: left;
    height: 100%;
    width: 18%;
    min-width: 200px;
    padding-left: 0px;
    background-color: black;
    /* width: 70px; */
}

#navFold{
    transition: 0.7s;
    float: left;
    height: 100%;
    padding-left: 0px;
    background-color: black;
    max-width: 70px;
}

.logoimg{
    margin-left: 25px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.iglogo{
    height: 35px;
    width: 35px;
    margin-left: 18px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.NavLink{
    display: block;
    text-decoration: none;
    list-style: none;
    color: white;
    text-align: center;
    /* visibility: hidden; */
}

.hiddenNavLink{
    display: block;
    text-decoration: none;
    list-style: none;
    color: white;
    text-align: center;
    visibility: hidden;
}


.NavListFold li{
    transition: 0.7s;
    height: 40px;
    width: 150px;
    margin-bottom: 25px;
    align-items: center;
    display: flex;
    text-align: center;
    font-size: 18px;
    margin-top: -10px;
    border-radius: 15px;
}

.NavListFold{
    margin-left: -20px;
    display: inline-block;
}

.NavListFold li:hover{
    background-color: none;
}


.NavList{
    margin-left: -20px;
    display: inline-block;
}

.NavList li{
    height: 40px;
    width: 150px;
    margin-bottom: 25px;
    align-items: center;
    display: flex;
    text-align: center;
    font-size: 18px;
    margin-top: -10px;
    border-radius: 15px;
}

.NavList li:hover{
    background-color: rgba(255, 255, 255, 0.282);
}

.NavList img{
    margin-right: 10px;
}


.more{
    position: absolute;
    bottom: 0;
}

#navprofilepic{
    height: 30px;
    width: 30px;
    border-radius: 15px;
}



@media screen and (max-width: 600px){
        
    #nav{
        transition: 0.7s;
        height: 50px;
        width: 100%;
        background-color: black;
        top: auto;
        bottom: 0;
        display: flex;
        position: absolute;
        z-index: 3;
        /* width: 70px; */
    }

    #navFold{
        transition: 0.7s;
        height: 50px;
        min-width: 100%;
        display: flex;
        position: absolute;
        z-index: 5;
        bottom: 0;
        top: auto;
        justify-content: space-around;
        margin-bottom: -40px;
    }

    .NavList{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .NavListFold{
        width: 100%;
        margin-left: -20px;
        display: flex;
        justify-content: space-around;
    }

        
    .NavList li{
        height: 30px;
        width: 40px;
        margin-bottom: 25px;
        align-items: center;
        display: flex;
        text-align: center;
        font-size: 0;
        margin-top: -10px;
        border-radius: 15px;
    }

    .NavListFold li{
        height: 40px;
        width: 40px;
        margin-bottom: 25px;
        align-items: center;
        display: flex;
        text-align: center;
        font-size: 0;
        margin-top: -10px;
        border-radius: 15px;
    }

    .NavList li:hover{
        background: none;
    }

    .notifbtn, .more, .iglogo, .logoimg{
        transform: scale(0);
        display: none;
        position: absolute;
    }


}