.reelDiv{
    width: 100%;
    background-color: black;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 15px;
    color: white;
    font-family: sans-serif;
}

.topReelDiv{
    width: 100%;
    height: 60px;
    padding-left: 10px;
    display: inline-block;
}

.topReelDiv .profileImage{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: 1px solid gray;
    float: left;
    margin-top: 10px;
}

.topReelDiv ul{
    float: left;
    padding-left: 0px;
    margin-left: 15px;
    
}

.topReelDiv ul li{
    display: block;
    font-size: 12px;
    text-align: center;
    margin-top: 0px;

}

.topReelDiv ul .reelName{
    font-weight: bold;
    float: left;
}

.topReelDiv ul .reelLocation{
    color: antiquewhite;

}

.topReelDiv .more{

    height: 30px;
    width: 30px;

}

.reelDiv .reelImage{
    width: 100%;
}

.reelDiv .options{
    width: 100%;
    padding-left: 15px;
    font-family: sans-serif;
}

.reelDiv .options ul{
    padding-left: 0px;
}

.reelDiv .options li{
    display: inline-block;
}

.reelDiv .options .reelOptionIcon{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin-right: 10px;
}


.reelDiv .options .save{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin-right: 20px;
    float: right;
}


.reelDiv .options .reelLikes{
    font-size: 14px;
}

.reelDiv .options .reelDesc{
    font-size: 14px;
    font-weight: lighter;
}

.reelDiv .options .viewcomments{
    background-color: none;
    border: none;
    background: none;
    color: gray;
    padding: 0;
}

.reelDiv .options .reelDate{
    color: gray;
    font-size: 10px;
}

.reelDiv .addComment{
    width: 100%;
    padding-bottom: 5px;
    padding-left: 10px;
}

.commentIcon{
    height: 30px;
    width: 30px;
    border-radius: 15px;

}
.addComment form{
    display: flex;
}

.commentInput{
    height: 30px;
    width: 90%;
    border: none;
    background-color: black;
    color: white;
}

.postComment{
    background-color: none;
    background: none;
    border: none;
    color: rgb(83, 114, 181);
    font-weight: bold;
    font-size: 14px;
    margin-right: 20px;
}

.PostImage{
    position: relative;
}

#taplikeicon{
    height: 100px;
    width: 100px;
    position: absolute;
    transform: translate(180%,100%);
    visibility: hidden;
}


/* message popup */
.message-popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.inner-message{
    position: relative;
    width: 70%;
    height: 85%;
    background-color: black;
    border: 1px solid rgb(221, 0, 255);
    border-radius: 20px;
    display: flex;
}

.inner-popup-image-container{
    width: 40%;
    height: 100%;
}

.right-side-popup{
    width: 58%;
    height: 100%;
    padding: 0 20px;
}

#popup-comment-img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.message-popup-options{
    width: 100%;
    height: 40px;
}

.message-popup-options ul{
    display: flex;
    padding-left: 0px;
}

.comment-reelOptionIcon{
    height: 30px;
    height: 30px;
    float: left;
    margin-left: 10px;
}

.comment-saveicon{
    height: 35px;
    height: 35px;
    float: right;
    margin-top: -50px;
}

.likes-text{
    color: white;
}

.like-text-container{
    height: 30px;
    margin-top: -10px;
}

.bottom-popup-div{
    width: 100%;
}

.comment-list-contianer {
    height: 70%;
}

.comment-input-container{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#popup-comment-input{
    height: 40px;
    width: 100%;
    background: none;
    border: none;
}

.comment-input-container form{
    width: 100%;
    display: flex;
}

.post-btn{
    width: 100px;
    background: none;
    border: none;
    font-weight: bold;
    color: rgb(0, 140, 255);
}

.close-popup-btn{
    color: white;
    font-size: 20px;
    border: none;
    background: none;
    top: 20px;
    right: 20px;
    position: absolute;
}