
#ContentDiv{
    float: left;
    height: 100%;

    display: block;
    margin-top: 40px;
    margin-left: 120px;

    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#ContentDiv::-webkit-scrollbar{
    display: none;
}

#StoryBox{
    height: 100px;
    width: 450px;
    background-color: black;
    border-radius: 10px;
    border: 1px solid gray ;
    color: white;
}

li{
    list-style: none;
}

.storyUl{
    padding-left: 15px;
}

.FollowerStory{
    display: inline-block;
}

.FollowerStory ul{
    display: inline-block;
    text-align: center;
    align-items: center;
    margin: auto;
}

.FollowerStory ul li p{
    margin-top: 2px;
    font-size: 14px;
}

.StoryProfileImg{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: 2px solid rgb(143, 3, 143);
}