.img-expore-container{
    height: 30%;
    width: 30%;
    margin-right: 6px;
}

#explore-img-content{
    height: 100%;
    width: 100%;
    border: none;
}

@media screen and (max-width: 600px){
    .img-expore-container{
        height: 100%;
        width: 30%;
    }
    
    #explore-img-content{
        height: 200px;
        border: none;
    }
}