.explore-main-box{
    width: 72%;
    min-height: 100%;
    height: 60%;
    float: right;
    overflow-y: scroll;
    margin: 40px 50px;
}

.explore-main-box::-webkit-scrollbar{
    display: none;
}

.explore-main-box div{
    height: 75%;
    width: 100%;
    display: flex;
}