.followercontainer{
    display: flex;
    height: 68px;
}

#followerimg{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    object-fit: contain;
    border: none;
    float: left;
}

.followercontainer ul {
    list-style: none;
    display: inline-block;
}

.listcontainer{
    height: 100%;
    min-width: 25%;
    float: left;
    background-color: black;
    padding-right: 20px;
}

.header{
    width: 100%;
    height: 400px;
    display: inline-block;
}

.headerinfo{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.headerinfo li h3{
    color: white;
    font-weight: 500;
}

.headerinfo li h4{
    color: rgba(255, 255, 255, 0.478);
}

.secondheader{
    margin-top: -30px;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.secondheader li h4{
    color: white;
    font-weight: 500;
}

.secondheader li button{
    color: rgba(255, 255, 255, 0.478);;
    font-size: 14px;
    border: none;
    background: none;
    line-height: 60px;
}

.list{
    height: 100%;
    width: 100%;
    margin-top: -290px;
    overflow: scroll;
}


/* follower box */

.followerlist{
    list-style: none;
    display: inline-block;
    margin-top: 40px;
}


.followercontainer ul{
    margin-top: 5px;
}

.followercontainer ul li{
    color: rgba(255, 255, 255, 0.864);
}

.followercontainer ul .messagestatus{
    color: rgba(255, 255, 255, 0.565);
}


/* messagebox */

.mainmessagebox{
    height: 100%;
    min-width: fit-content;
    display: flex;
}

.centermessage{
    margin: auto;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
}

.centermessage h2{
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.centermessage p{
    color: rgba(255, 255, 255, 0.605);
    margin-top: -10px;
}

.centermessage button{
    height: 35px;
    width: 120px;
    background-color: rgb(0, 164, 229);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

#igmessagelogo{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}


.message_text_box_area{
    height: 100%;
    width: 100%;
    display: inline-block;
    overflow-y: scroll;
    overflow-x: none;
    position: relative;
}

.message_send_div{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: right;
    padding-right: 20px;
}

.message_receive_div{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: left;
    padding-left: 20px;
}

#message_text{
    height: 30px;
    max-width: 400px;
    color: white;
    background-color: rgb(0, 102, 255);
    padding: 5px 15px;
    border-radius: 20px;
}

.message_bottom_input_container{
    width: 100%;
    height: 50px;
    bottom: 0;
    position: absolute;
    background-color: black;
    display: flex;
}

#input_textarea_message{
    min-width: 90%;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.777);
    padding-left: 20px;
    color: rgba(255, 255, 255, 0.798);
    font-size: 16px;
}

#send_message_btn{
    width: 10%;
    background-color: rgba(0, 89, 255, 0.814);
    color: white;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}



@media screen and (max-width: 600px){
    /* message box */
    .mainmessagebox{
        display: none;
    }


    

    .listcontainer{
        height: 100%;
        width: 100%;
        background-color: black;
        padding-right: 20px;

    }

    .listcontainer .header{
        height: 10%;
    }

    .listcontainer .list{
        height: 80%;
        width: 100%;
        overflow: scroll;
        margin-top: 0px;
        background-color: black;
    }
}